*.pyc

*.ipynb_checkpoints/
*.egg-info
__pycache__

analysis/synthetic/data

*OUTPUT*
*TMP*
*RUN*
*STATUSES*
*MISC*

*.tar.gz
*.bin
*.errlog
*.outlog
*.outbin
*.queue
*.toolkits
*.err
*.out
scratch/
*.npy
*.pkl
*.swp
*.csv#

bhcal-pyenv/
*cache*

issm/issm/data/*/*.csv
issm/issm/data/*/*.png
issm/expdesign/*.png
issm/expdesign/*.csv

issm/issm/data/melt/raw

data/harper_raw/
issm/issm/data/melt/RACMO/

pvals/

# Original datasets
issm/issm/data/geom/BedMachineGreenland_StudyArea_bed.tif
issm/issm/data/geom/BedMachineGreenland_StudyArea_surface.tif
issm/issm/data/geom/BedMachineGreenland_StudyArea_thickness.tif
issm/issm/data/geom/GimpIceMask_90m_2015_v1.2.tif

issm/issm/data/melt/RACMO
issm/issm/data/velocity/GrIMP_multiyear_vel_mosaic_vv.tif

issm/issm/data/yang2016_moulins/moulins_polarstereo.*


